header {
    width: 1000px;
    margin: auto;
    height: 80px;
    position: relative;
    overflow: auto;
}
#mainPage{
    display: none;
}
#logo {
    width: 260px;
    height: 60px;
    margin: 10px 0 0 0;
    position: absolute;
    background: url("../image/logo.jpg") no-repeat;
    background-size: 100%;
    display: block;
    /*float: left;*/
}
#myTab{
    float: right;
    margin-top:30px;
    /*margin-right: 375px;*/
    font-size: large;
}
.hr{
    margin:10px 0 10px 0;
    border-top: 3px solid #eee;
}

/*first page*/
.firstPart{
    height: 220px;
    background: url("../image/firstPageBG.jpg") top center;
    overflow: hidden;
}
.photo{
    width: 1000px;
    height: 100%;
    margin: auto;
    overflow: hidden;
}
.photo a{
    float: left;
    margin-top: 37px;
    border-radius: 100%;
    border: 5px #fff solid;
    background: url(../image/photo.jpg);
    height: 140px;
    width: 140px;
    margin-left: 71px;
    overflow: hidden;
}
.photo a  span{
    display: none;

}
.photo a:hover span{
    display: block;
    height: 60px;
    width: 140px;
    margin: 100px auto 0 auto;
    text-align: center;
    padding-top: 10px; ;
    background: #000;
    opacity: 0.6;
    color: #fff;
}
.article-header{
    margin-top: 21px;
    font-size: x-large;
    font-weight: bolder;
}
.article-title{
    margin-top: 21px;
    font-size: 21px;
    font-weight: bolder;
}
.article-footer{
    font-size: small;
}
.article-footer p{
    margin: 0 0;
}


.Atype{
    background: url("../image/Atype.png") no-repeat left center;
    float: left;
}
.Atime{
    background: url("../image/Atime.png") no-repeat left center;
    float: left;
}
.Acommit{
    background: url("../image/Acommit.png") no-repeat left center;
    float: left;
}
.Aviewnum{
    background: url("../image/Aviewnum.png") no-repeat left center;
    float: left;
}
.right-panel{
    height: 100%;
    border-left: 3px solid #eee;
}
.gzw-title{
    margin-left: 0;
    text-align: center;
    padding-top: 10px;
}
.gzw-title p{
    margin-bottom: 0;
    font-size:larger;
    font-weight: bolder;
}
.gzw-list{
    height: 80px;
    width:350px;
    overflow: auto;
}
.gzw-list .wx{
    float: left;
    background: url("../image/icon_WX.png") no-repeat scroll 0 0;
}
.gzw-list .qq{
    float: left;
    background: url("../image/icon_QQ.png") no-repeat scroll 0 0;
}
.gzw-list .yx{
    float: left;
    background: url("../image/ico_07_1.png") no-repeat scroll 0 0;
}
.gzw-list .git{
    float: left;
    background: url("../image/icon_git.png") no-repeat scroll 0 0;
}
.wx:hover{
    background: url("../image/icon_WX_1.png") no-repeat scroll 0 0;
}
.qq:hover{
    background: url("../image/icon_QQ_1.png") no-repeat scroll 0 0;
}
.yx:hover{
    background: url("../image/ico_07.png") no-repeat scroll 0 0;
}
.git:hover{
    background: url("../image/icon_git_1.png") no-repeat scroll 0 0;
}
.gzw-list div{
    box-sizing: content-box;
    width: 52px;
    text-align: center;
    padding-top: 60px;
}
.gzw-list div a{
    text-align: center;
    padding-top: 60px;
}
.m-l{
    margin-left: 15px;
}
.m-r{
    margin-right: 15px;
}

/*about me page */
.aboutmeBG{
    background: url("../image/aboutmeBG.jpg") no-repeat;
    background-size: 100% 100%;
    height: 800px;
}
.left-panel2{
    border-left: 3px solid #eee;
}
.aboutme-content{
    height: 100%;
    width: 100%;
}


/*message page CSS*/
#messagePage{
    height: auto;
    min-height: 680px;
    background: url("../image/timg (3).jpg") no-repeat;
    background-size: cover;
    background-attachment:fixed;
}
.message{
    border-left: 3px solid #eee;
}
.message-area > p{
    padding-top: 13px;
}
.message-time{
    font-size: small;
    margin:10px 0;
}
.message-form{
    margin: 20px 0  ;
}


/*welcome page CSS*/
.welcome{
    position: absolute;
    left: 0px;
    top:0px;
    background: url("../image/welcomeBG2.jpg") no-repeat;
    background-size: 100%;
    opacity: 1;
    height: 100%;
    width: 100%;
    overflow: auto;
    /*display: none;*/
}
.welcomePage{
    overflow: auto;
    margin:5% 20%;
    opacity: 1;
    background-color: #ffffff;
    width: 60%;
    height: 80%;
    text-align: center;
    border-radius: 30%;
}
.welcome-title{
    height: 150px;
    background: url("../image/timg.gif") no-repeat center;
}
.welcomeCotent{
    box-sizing: border-box;
    margin-left: 26%;
    margin-right: 30%;
    /*margin-top: 3%;*/
    font-size: x-large;
    /*border: 2px solid;*/
    /*border-radius: 10%;*/
    /*padding: 5%;*/
}
.welcomeText1{
    text-align: left;
    color: #000;
}
.welcomeText{
    text-align: right;
    color: #000;
}
/*实现风车效果*/
@-webkit-keyframes rotate{from{-webkit-transform:rotate(0deg)}to{-webkit-transform:rotate(360deg)}}
@-moz-keyframes rotate{from{-moz-transform:rotate(0deg)}to{-moz-transform:rotate(359deg)}}
@-o-keyframes rotate{from{-o-transform:rotate(0deg)}to{-o-transform:rotate(359deg)}}
@keyframes rotate{from{transform:rotate(0deg)}to{transform:rotate(359deg)}}
@-webkit-keyframes rotate2{from{-webkit-transform:rotate(0deg)}to{-webkit-transform:rotate(360deg)}}
@-moz-keyframes rotate2{from{-moz-transform:rotate(0deg)}to{-moz-transform:rotate(359deg)}}
@-o-keyframes rotate2{from{-o-transform:rotate(0deg)}to{-o-transform:rotate(359deg)}}
@keyframes rotate2{from{transform:rotate(0deg)}to{transform:rotate(359deg)}}


.FC{
    float: left;
}
.windmill2 {
    display:block;
    position: relative;
    margin:50px auto;
    width: 100px;
    height: 120px;
}

.windmill2 .pillar{
    position:absolute;
    top:8px;
    left:44px;
    display: block;
    height: 0;
    width: 4px;
    border-width: 0 4px 80px 4px;
    border-style: none solid solid;
    border-color: transparent transparent black;
}
.windmill2 .axis{
    position:absolute;
    top:0px;
    left:46px;
    width:4px;
    height:4px;
    /*border:3px #000 solid;*/
    background:#000;
    border-radius:5px;
    z-index: 88;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    -webkit-animation: rotate 4s linear infinite;
    -moz-animation: rotate 4s linear infinite;
    -o-animation: rotate 4s linear infinite;
    animation: rotate 4s linear infinite;
}
.windmill2 .swing{
    position:absolute;
    top:1px;
    left:-2px;
    display: block;
    height: 0;
    width: 2px;
    border-width: 50px 2px 0px 2px;
    border-style: solid solid none;
    border-color: black transparent transparent ;
    box-shadow: 1px 1px 1px rgba(105, 97, 97, 0.1);
    -webkit-transform-origin:0px 0px;
    -webkit-transform:rotate(60deg);
    -moz-transform-origin:0px 0px;
    -moz-transform:rotate(60deg);
    -ms-transform-origin:0px 0px;
    -ms-transform:rotate(60deg);
    -o-transform-origin:0px 0px;
    -o-transform:rotate(60deg);
    transform-origin:0px 0px;
    transform:rotate(60deg);
}
.windmill2 .swing2{
    position:absolute;
    top:0px;
    left:4.5px;
    display: block;
    height: 0;
    width: 2px;
    border-width: 50px 2px 0px 2px;
    border-style: solid solid none;
    border-color: black transparent transparent ;
    -webkit-transform-origin:0px 0px;
    -webkit-transform:rotate(180deg);
    -moz-transform-origin:0px 0px;
    -moz-transform:rotate(180deg);
    -ms-transform-origin:0px 0px;
    -ms-transform:rotate(180deg);
    -o-transform-origin:0px 0px;
    -o-transform:rotate(180deg);
    transform-origin:0px 0px;
    transform:rotate(180deg);
}
.windmill2 .swing3{
    position:absolute;
    top:6px;
    left:3px;
    display: block;
    height: 0;
    width: 2px;
    border-width: 50px 2px 0px 2px;
    border-style: solid solid none;
    border-color: black transparent transparent ;
    -webkit-transform-origin:0px 0px;
    -webkit-transform:rotate(300deg);
    -moz-transform-origin:0px 0px;
    -moz-transform:rotate(300deg);
    -ms-transform-origin:0px 0px;
    -ms-transform:rotate(300deg);
    -o-transform-origin:0px 0px;
    -o-transform:rotate(300deg);
    transform-origin:0px 0px;
    transform:rotate(300deg);
}
.windmill2 .axis:hover {
    -webkit-animation: rotate2 .3s linear infinite;
    -moz-animation: rotate2 .3s linear infinite;
    -o-animation: rotate2 .3s linear infinite;
    animation: rotate2 .3s linear infinite;
}
